


 <div class="navdiv"> 

  <nav class="Firstnavbar">
    <ul>
      <!--
      <li><a class="active" href="#home">Home</a></li>
      <li><a href="#news">News</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#about">About</a></li> 
       -->
      <li id="username"><a href="#about"> <i class="fa fa-user-circle fa-x"></i>  {{username}} </a></li>
      <li id="deconnexion"> <button (click)="deconnexion()"><i class="fa fa-sign-out"></i> Deconnexion </button></li>
      
    </ul>
  </nav>



  
</div>  


    
    
 
  



