ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 240px;
    background-color: #fafafa;
    
    height: 700px;
    overflow: auto;
    top: 170px;
    left: 0px;
    box-shadow: 5px 5px 5px rgb(224, 222, 222);
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  div{
    z-index: 500;
  }